@import "../../../styles.scss";

.footer-section {
  max-width: 1920px;
  @include dFlex(space-between, center);
  background-color: $background-color;
  height: 235px;
  padding: 0 80px;
  border-top: 1px solid $secondary-color;
  margin-top: 50px;

  span {
    @include heading(400, 24px, normal, $font-color);
  }
}

.logo-imprint-div {
  @include dFlex($jc: null, $ai: center);
  flex-direction: column;

  img {
    width: 200px;
  }

  a {
    text-decoration: none;
    color: $font-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.references-wrapper {
  @include dFlex(center, center, 40px);

  a {
    transition: transform 125ms ease-in-out;
    color: $secondary-color;

    &:hover {
      transform: scale(1.2);
    }
  }
}

// RESPONSIVE

@media (max-width: 845px) {
  .footer-section {
    justify-content: center;
    flex-direction: column;
    padding: 40px 80px;
  }

  .logo-imprint-div {
    img {
      width: 300px;
    }

    .references-wrapper {
      position: relative;
      bottom: 18px;
    }
  }

  .imprint-link {
     a {
      position: relative;
      bottom: -66px;
    }
  }

  
}
