
 <div class="divider"></div>
<div class="footer-section">

   

    <div class="logo-imprint-div">
        <a href="#landingPage">
        <img src="../../../assets/img/logo-portfolio-name.png" alt="">
        </a>
       
    </div>

    <div class="logo-imprint-div imprint-link">
    <span>© Erdal Tok 2024</span>
    <a (click)="scrollToTopImprint()">{{ "footer.title" | translate }}</a>
    </div>  

    <div class="references-wrapper">
    
        <!-- <img src="../../../../assets/img/dividing-lines/dividing-line-references.png" alt=""> -->
        <a href="https://github.com/erdaltok" target="_blank"><img src="../../../../assets/img/icons/github-icon.png" alt=""></a>
        <a href="#contact"><img src="../../../../assets/img/icons/mail-icon.png" alt=""></a>
        <a href="https://www.linkedin.com/feed/" target="_blank"><img src="../../../../assets/img/icons/linkedin.png" alt=""></a>
       
    
    </div>

</div>


