<div class="border-top">

<div class="footer-section">

    <div class="logo-imprint-div">
        <img src="../../../assets/img/logo-white-edit.png" alt="">
        <a href="#">Imprint</a>
    </div>

    <span>© Erdal Tok 2024</span>

    <div class="references-wrapper">
    
        <!-- <img src="../../../../assets/img/dividing-lines/dividing-line-references.png" alt=""> -->
        <a href="#"><img src="../../../../assets/img/icons/github-icon.png" alt=""></a>
        <a href="#"><img src="../../../../assets/img/icons/mail-icon.png" alt=""></a>
        <a href="#"><img src="../../../../assets/img/icons/linkedin.png" alt=""></a>
       
    
    </div>








</div>

</div>
