@import "../../../styles.scss";

header {
    @include dFlex;
    background-color: #141d2f;
    max-height: 30px;
    height: 100%;
    padding: 40px 80px;
    margin: 0 auto;
    width: 95%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

nav {
    @include dFlex($jc: space-between);
    background-color: #141d2f;
    width: 100%;
    max-width: 1920px;

    a {
        @include dFlex;

        img {
            width: 280px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.burger-icon {
    display: none;
    padding-right: 80px;
    img {
        width: 32px;
        &:hover {
            cursor: pointer;
        }
    }
}

.nav-links {
    @include dFlex($g: 20px);
    font-size: 23px;
    margin-right: 80px;
    a {
        color: whitesmoke;
        text-decoration: none;
        padding-bottom: 4px;

        &:hover {
            color: #00bee8;
        }
    }
}

.select-language {
    @include dFlex($g: 3px);
    p {
        font-size: 48px;
        color: #4b47ff;
    }
}

@media screen and (min-width: 128px) and (max-width: 1100px) {
    .nav-links {
        position: fixed;
        right: -100%;
        top: 100px;
        background-color: #141d2f;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        opacity: 0.9;
        transition: 0.4s ease-in-out;

        a {
            display: block;
            text-align: left;
            font-size: 48px;
            margin-bottom: 50px;
        }
    }
    .mobile-menu {
        right: 0;
        transition: 0.4s ease-in-out;
    }

    .burger-icon {
        display: block;
    }
    .select-language {
        align-items: baseline;
    }
}
