<header>
    <nav>
        <a href="#">
            <img src="../../../assets/img/logo-white-edit.png" alt="">
        </a>



        <div class="nav-links">

            <section>
                <a href="#aboutMe">About me</a>
                <!-- Here underlined if this page is currently open (a tag wrapped in div)-->
            </section>

            <section>
                <a href="#skills">Skills</a>
                <!-- Here underlined if this page is currently open (a tag wrapped in div)-->
            </section>

            <section>
                <a href="#portfolio">Portfolio</a>
                <!-- Here underlined if this page is currently open (a tag wrapped in div)-->
            </section>

        
            <section class="select-language">
                <a href="#">EN</a>
                <!-- Here underlined if this page is currently open (a tag wrapped in div)-->
                <p>|</p>
                <a href="#">DE</a>
                <!-- Here underlined if this page is currently open (<a> tag wrapped in div-->
            </section>


        </div>

        
    </nav>
</header>
