<header>
    <nav>
        <a href="#landingPage">
            <img src="../../../assets/img/logo-white-edit.png" alt="">
        </a>

        <div class="burger-icon" (click)="openMenu()">
            <img src="{{ currentImgSrc }}" alt="">
        </div>

        <div class="nav-links" [class.mobile-menu]="menuValue">
            <div>
                <a (click)="closeMenu()" [class.active]="currentSection === 'aboutMe'" href="#aboutMe">{{ 'navLinks.aboutMe' | translate }}</a>
            </div>
            <div>
                <a (click)="closeMenu()" [class.active]="currentSection === 'skills'" href="#skills">{{ 'navLinks.skills' | translate }}</a>
            </div>
            <div>
                <a (click)="closeMenu()" [class.active]="currentSection === 'portfolio'" href="#portfolio">{{ 'navLinks.portfolio' | translate}}</a>
            </div>
            <div>
                <a (click)="closeMenu()" [class.active]="currentSection === 'contact'" href="#contact">{{ 'navLinks.contact' | translate}}</a>
            </div>


            <div class="select-language">
                <a (click)="changeLanguage('EN')" [class.color-current-language]="currentLanguage === 'EN'" href="#">EN</a>
                <p>|</p>
                <a (click)="changeLanguage('DE')" [class.color-current-language]="currentLanguage === 'DE'" href="#">DE</a>
            </div>
        </div>
    </nav>
</header>