<header>
    <nav>
        <a href="#landingPage">
            <img src="../../../assets/img/logo-white-edit.png" alt="">
        </a>

            <div class="burger-icon" (click)="openMenu()">
                <img src="{{currentImgSrc}}" alt="">

            </div>


        <div class="nav-links" [class.mobile-menu]="menuValue">

            <section>
                <a (click)="closeMenu()" href="#aboutMe">About me</a>
                <!-- Here underlined if this page is currently open (a tag wrapped in div)-->
            </section>

            <section>
                <a (click)="closeMenu()" href="#skills">Skills</a>
                <!-- Here underlined if this page is currently open (a tag wrapped in div)-->
            </section>

            <section>
                <a (click)="closeMenu()" href="#portfolio">Portfolio</a>
                <!-- Here underlined if this page is currently open (a tag wrapped in div)-->
            </section>

        
            <section class="select-language">
                <a href="#">EN</a>
                <!-- Here underlined if this page is currently open (a tag wrapped in div)-->
                <p>|</p>
                <a href="#">DE</a>
                <!-- Here underlined if this page is currently open (<a> tag wrapped in div-->
            </section>



        </div>

        
    </nav>
</header>
