@import '../../../styles.scss';

.center-content-components {
    // max-width: 1920px;
    display: flex;
    justify-content: center;  
    flex-direction: column; 
    // max-width: calc(100vw - 160px);
    // padding: 40px 80px;
    // width: 100vw;
    
}