<div class="portfolio-section">

    <div class="portfolio-headline">
        
        <div class="portfolio-small-line-left-side">
            <div class="small-line"></div>
        </div>
        <div class="portfolio-titel">
            <h2>Portfolio</h2>
        </div>
        <div class="portfolio-big-line-right-side">
            <div class="big-line"></div>
        </div>
            
    </div>

<p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>

<div class="portfolio-wrapper">



</div>








</div>