@import "../../../../styles.scss";

.portfolio-section {
  padding-top: 34px;
  max-width: 1920px;
  width: 100%;
  @include dFlex(center, center);
  flex-direction: column;
  position: relative;
  overflow-x: clip;

  p {
    @include heading(400, 16px, 19.2px, $font-color);
    text-align: center;
  }
}

.portfolio-headline {
  @include dFlex(center, center);
  height: 100px;
  width: 100%;
  margin-top: 100px;
}

h2 {
  @include heading(700, 90px, 108px, $font-color);
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.portfolio-big-line-right-side {
  @include dFlex(center, center);
}

.big-line, .small-line {
  height: 4px;
  background-color: $primary-color;
  flex: 1;
  position: absolute;
}

.big-line {
  width: 35%;
  right: 0;
}

.small-line {
  width: 10%;
  left: 369px;
}

.portfolio-wrapper {
  @include dFlex(space-evenly, center);
  max-width: 1920px;
  width: 100%;
  margin-top: 54px;
  position: relative;

  .projects-left-side {
    max-width: 500px;

    img {
      object-fit: cover;
      margin: 0;
      width: 601px;
      height: 600px;
    }
  }

  .projects-right-side {
    max-width: 500px;
    @include dFlex(flex-start, flex-start);
    flex-direction: column;
    position: relative;
    top: -44px;
    

    .shadow-portfolio {
      position: absolute;
      right: -303px;
      bottom: -507px;
      z-index: -20;
      rotate: -90deg;
    }

    .shadow-portfolio-left {
      position: absolute;
      bottom: -1170px;
      z-index: -20;
      left: -218px;
    }

    h3 {
      @include heading(700, 32px, 38.4px, $primary-color);
      margin-bottom: 16px;
    }

    span {
      @include heading(400, 23px, 27.6px, $secondary-color);
    }

    p {
      @include heading(400, 16px, 19.2px, $font-color);
      margin: 0;
      margin-top: 16px;
      text-align: start;
    }
  }
}

.projects-right-side-buttons {
  @include dFlex(flex-start, center, 80px);

  button {
    @include button-style($primary-color, $secondary-color);
    width: 191px;
    height: 58px;
    margin-top: 25px;
  }

  .button-github {
    @include button-style(transparent, $secondary-color, $font-color);
    border: 1px solid $secondary-color;
  }
}
