@import "../../../../styles.scss";

.portfolio-section {
  width: 100%;
  @include dFlex(center, center);
  flex-direction: column;
  position: relative;
  overflow-x: clip;
  padding-top: 130px;

  p {
    @include heading(400, 16px, 19.2px, $font-color);
    text-align: center;
  }
}

.headline {
  @include dFlex($g: 16px);
  width: 100vw;

  h2 {
    font-size: 90px;
    font-weight: 700;
    margin: 0;
  }

  .empty-box {
    @include dFlex;
    flex: 1;

    .empty-line {
      width: 100%;
    }
  }

  .right-line {
    @include dFlex;
    flex: 1;

    .line {
      min-width: 100%;
      height: 3px;
      background-color: $primary-color;
    }
  }
}

.portfolio-wrapper {
  @include dFlex(space-evenly, center);
  max-width: 1920px;
  width: 100%;
  position: relative;

  .projects-left-side {
    max-width: 500px;

    img {
      object-fit: cover;
      margin: 0;
      width: 601px;
      height: 600px;
    }
  }

  .projects-right-side {
    max-width: 500px;
    @include dFlex(flex-start, flex-start);
    flex-direction: column;
    position: relative;
    top: -44px;

    .shadow-portfolio {
      position: absolute;
      right: -198px;
      bottom: -824px;
      z-index: -20;
      rotate: -90deg;
    }

    .shadow-portfolio-left {
      position: absolute;
      bottom: -1248px;
      z-index: -20;
      left: -556px;
    }

    h3 {
      @include heading(700, 45px, 38.4px, $primary-color);
      margin-bottom: 16px;
    }

    span {
      @include heading(400, 23px, 27.6px, $secondary-color);
    }

    p {
      @include heading(400, 16px, 19.2px, $font-color);
      margin: 0;
      margin-top: 16px;
      text-align: start;
    }
  }
}

.projects-right-side-buttons {
  @include dFlex(flex-start, center, 80px);

  button {
    @include button-style($primary-color, $secondary-color);
    width: 191px;
    height: 58px;
    margin-top: 25px;
  }

  .button-github {
    @include button-style(transparent, $secondary-color, $font-color);
    border: 1px solid $secondary-color;
  }
}

// RESPONSIVE

@media (min-width: 1921px) {
  .portfolio-section {
    overflow-x: unset;
  }
  .portfolio-wrapper .projects-right-side .shadow-portfolio-left {
    bottom: -1198px;
  }
}

@media (max-width: 1470px) {
  .small-line {
    display: none;
  }
  .big-line {
    width: 31%;
  }

  .shadow-portfolio {
    right: -439px !important;
    bottom: -743px !important;
  }

  .shadow-portfolio-left {
    bottom: -1300px !important;
    left: -462px !important;
  }
}

@media (max-width: 1353px) {
  .portfolio-wrapper {
    flex-direction: column !important;
    gap: 20px !important;
    margin-top: -34px;
    justify-content: center !important;
    align-items: center !important;
  }

  .projects-right-side {
    top: -86px !important;
    justify-content: center !important;
    align-items: center !important;
    p {
      text-align: center !important;
    }
  }

  .portfolio-wrapper .projects-left-side img {
   
    width: 532px;
    height: 600px;
}

  .shadow-portfolio-left {
    display: none;
  }
}

@media only screen and (min-device-height: 631px) and (max-device-width: 1150px) and (orientation: landscape) {
  h2 {
    font-size: 70px;
  }
  .portfolio-headline {
    margin-top: 55px;
  }

  .projects-right-side {
    top: -150px !important;
    position: relative;
    
  }
}

@media (max-width: 736px) {
  .portfolio-section {
    h2 {
      font-size: 70px;
    }
    p {
      margin-left: 30px;
      margin-right: 30px;
      text-align: center !important;
    }
  }

  .portfolio-wrapper {
    .projects-left-side {
      img {
        width: 400px;
        height: 400px;
      }
    }
    .projects-right-side {
      max-width: 361px;
      right: 0;
      justify-content: center;
      align-items: center;
      span {
        text-align: center;
      }
    }
    .projects-right-side-buttons {
      gap: 40px;

      button {
        width: 150px;
      }
    }

    .shadow-portfolio {
      top: 650px;
      width: 700px;
    }
  }
}

@media (max-width: 500px) {
  .portfolio-headline {
    margin-top: 64px;
  }
}

@media (max-width: 430px) {
  .portfolio-section {
    padding-top: 0px;
    padding-bottom: 100px;
  }
}



@media (max-width: 412px) {
  .portfolio-section {
    margin-bottom: 0px;
    margin-top: 0px;
    h2 {
      font-size: 50px;
    }
  }

  .portfolio-wrapper {
    .projects-right-side {
      max-width: 264px;
      span {
        text-align: center;
        font-size: 18px;
        p {
          text-align: center;
        }
      }
      h3 {
        font-size: 42px;
      }
    }
    .projects-left-side {
      img {
        width: 300px;
        height: 300px;
      }
    }
    .projects-right-side-buttons {
      gap: 20px;
      button {
        width: 138px;
        padding: 15px 24px;
      }
    }
  }
}

// 13 Zoll Laptop Macbook Air
@media (min-width: 431px) and (max-height: 800px) {
    .portfolio-section {
      padding-top: 85px !important;
    }
}

