<div class="portfolio-section">

    <div class="portfolio-headline">
        
        <div class="portfolio-small-line-left-side">
            <div class="small-line"></div>
        </div>
        <div class="portfolio-titel">
            <h2>{{ "portfolio.title" | translate }}</h2>
        </div>
        <div class="portfolio-big-line-right-side">
            <div class="big-line"></div>
        </div>
            
    </div>

    <p>{{ "portfolio.intro" | translate }}</p>

    <div *ngFor="let project of projects; let i = index" 
     [ngStyle]="{'flex-direction': i % 2 === 0 ? 'row' : 'row-reverse', 'gap': i % 2 !== 0 ? '0px' : '163px'}"
     class="portfolio-wrapper "
     data-aos="fade-up"
     data-aos-duration="3000"
     
     >

        <div class="projects-left-side">
            <img src="{{ project.image }}" alt="">
        </div>

        <div class="projects-right-side">
                <img class="shadow-portfolio" 
                 [ngClass]="{'shadow-portfolio': i % 2 === 0, 'shadow-portfolio-left': i % 2 !== 0}"
                 [src]="i % 2 === 0 ? '../../../../assets/img/shadows/purple-shadow-portfolio.png' : '../../../../assets/img/shadows/green-shadow-portfolio-left.png'"
                 alt="">
            <h3>{{ project.name }}</h3>
            <span>{{ project.skills }}</span>
            <p>{{ (project.description | translate) }}</p>

                <div class="projects-right-side-buttons">
                    <button (click)="openLiveTestProject(project.liveTestLink)" class="button-live-test">Live test</button>
                    <button (click)="openGitProject(project.gitLink)" class="button-github">Github</button>
                </div>
        </div>        
    </div>

</div>