<div class="portfolio-section">

    

    <div class="portfolio-headline">
        
        <div class="portfolio-small-line-left-side">
            <div class="small-line"></div>
        </div>
        <div class="portfolio-titel">
            <h2>Portfolio</h2>
        </div>
        <div class="portfolio-big-line-right-side">
            <div class="big-line"></div>
        </div>
            
    </div>

    <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>

    <div class="portfolio-wrapper">


        <div class="projects-left-side">
            <img src="../../../../assets/img/project-images/join-img2.png" alt="">
        </div>

        <div class="projects-right-side">

                <img class="shadow-portfolio" src="../../../../assets/img/shadows/purple-shadow-portfolio.png" alt="">


            <h3>Join</h3>
            <span>JavaScript | HTML | CSS | Git</span>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and
            categories.</p>
                <div class="projects-right-side-buttons">
                    <button class="button-live-test">Live test</button>
                    <button class="button-github">Github</button>
                </div>
        </div>        
    </div>

    <div class="portfolio-wrapper wrapper-position">

        <div class="projects-left-side">
            <img src="../../../../assets/img/project-images/el-pollo-loco-img.png" alt="">
        </div>

        <div class="projects-right-side">
            <h3>El Pollo Loco</h3>
            <span>JavaScript | HTML | CSS | Git</span>
            <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and poison bottles to fight
            against the killer chicken.</p>
                <div class="projects-right-side-buttons">
                    <button class="button-live-test">Live test</button>
                    <button class="button-github">Github</button>
                </div>
        </div>        
    </div>








</div>