<div class="content"
>

    <div class="go-up-btn"> 
            <a routerLink="/" routerLinkActive="active">
                <img [src]="currentImgSrc" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" class="go-back-btn"
                alt="">
            </a>
    </div>

    <h1>Impressum</h1>

    <div class="contact-wrapper">
        <p>Erdal Tok<br />
            Musterstra&szlig;e 111<br />
            Geb&auml;ude 44<br />
            90210 Musterstadt
        </p>

        <h2>Kontakt</h2>
        <p>Telefon: +49 (0) 173 36 84 225<br />
        <!-- Telefax: +49 (0) 123 44 55 99<br /> -->
        E-Mail: erdaltok.dev&#0064;gmail.com
        </p>

        <p>Quelle: 
            <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de</a>
        </p>

    </div>
</div>