@import '../../../styles.scss';



.content {
    max-width: 1920px;
    margin: 200px 80px 0px 80px;
    height: calc(100vh - 250px);
    font-size: 24px;
     a {
        text-decoration: none;
        color: $secondary-color;
        &:hover {
        color: $primary-color;
        text-decoration: underline;
        }
    }
}

.go-back-btn {
    rotate: -90deg;
}

.go-up-btn {
    display: flex;
    justify-content: flex-end;
}

h1 {
        font-size: 80px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 660px) {
    .content {
        margin: 200px 40px 0px 40px;
    }

    h1 {
        font-size: 63px;
}
}


@media (max-width: 476px) {
    a {
        font-size: 12px;
    }
    p {
        font-size: 15px;
    }

    h1 {
        font-size: 43px;
    }
     .content {
        margin: 150px 40px 0px 40px;
    }
}