@import '../../../styles.scss';


.content {
    max-width: 1920px;
    margin: 80px;
    margin-top: 200px;
}

// .content::view-transition-old(root) {
//   animation: exit 2s ease 0s 1 normal forwards;
// }

// .content::view-transition-new(root) {
//     animation: entrance 2s ease 0s 1 normal forwards;

// }

// @keyframes entrance {
// 	0% {
// 		opacity: 0;
// 		transform: translateX(-100px);
// 	}

// 	100% {
// 		opacity: 1;
// 		transform: translateX(0);
// 	}
// }

// @keyframes exit {
// 	0% {
// 		opacity: 1;
// 		transform: translateX(0);
// 	}

// 	100% {
// 		opacity: 0;
// 		transform: translateX(100px);
// 	}
// }

.go-back-btn {
    rotate: -90deg;
}

.go-up-btn-headline-space-between {
    display: flex;
    justify-content: space-between;
}