<div class="space-between">
    
    <div class="references-wrapper">    
    
    <img src="../../../../assets/img/dividing-lines/dividing-line-references.png" alt="">
    <a href="#"><img src="../../../../assets/img/icons/github-icon.png" alt=""></a>
    <a href="#"><img src="../../../../assets/img/icons/mail-icon.png" alt=""></a>
    <a href="#"><img src="../../../../assets/img/icons/linkedin.png" alt=""></a>
    <a class="references-mail-link" href="#">erdaltok.dev&#64;gmail.com</a>
    
    </div>
    
    
    <img class="scroll-down-icon" src="../../../../assets/img/icons/Scroll-down.png" alt="">

</div>
