<div class="flex">

    <div class="line"></div>

    <div class="space-between">
    
        <div class="references-wrapper">   
            <a href="https://github.com/erdaltok" target="_blank"><img src="../../../../assets/img/icons/github-icon.png" alt=""></a>
            <a href="#contact"><img src="../../../../assets/img/icons/mail-icon.png" alt=""></a>
            <a href="https://www.linkedin.com/feed/" target="_blank"><img src="../../../../assets/img/icons/linkedin.png" alt=""></a>
            <a class="references-mail-link" href="#contact">kontakt&#64;erdal.dev</a>
        </div>    
    
        <img class="scroll-down-icon" src="../../../../assets/img/icons/Scroll-down.png" alt="">

    </div>

    <div class="empty-line"></div>
</div>