@import '../../../../styles.scss';

div {
    height: 100px;
    z-index: 10;
    // background-color: red;
    position: relative;
    width: 100vw;
    margin: 0;
    left: 0;
    right: 0;
}


.references-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
        transition: transform 125ms ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.references-mail-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
        &:hover {
            color: #4b47ff;
        }
}

.space-between {
    display: flex;
}

.scroll-down-icon {
    height: 234px;
    margin-right: 40px;
    margin-top: -170px;
    animation: jump 2s ease infinite;

}

@keyframes jump {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}