<div class="landing-page-center">

    <div class="me-section">

        <div class="me-section-left-side  ">
            <img class="shadow-behind-me" src="../../../../assets/img/shadows/purple-green-shadow.png" alt="">
            <img class="picture-of-me"  src="../../../../assets/img/me.png" alt="">
        </div>
       

        <div class="me-section-right-side ">
            
            <div class="me-section-title-center">
                <h3>I am</h3>  
                <div class="me-section-title">
                    <h1>Erdal Tok</h1>
                    <h2 class="animation-h2">FRONTEND DEVELOPER</h2>                 
                </div>                        
            </div>  
    
            <a href="#contact">
                <button >Let`s Talk!</button>
            </a>
            
        </div>
       

    </div>

<div class="shape-landing-page-section">
    <img  class="shape-desktop" ngSrc="../../../../assets/img/Vector-desktop-tinypng.png" width="400" height="300" priority>
    <img loading="lazy" style="display: none;" class="shape-mobile" src="../../../../assets/img/shape-mobile.png">

    
</div>

       
</div>


