
<div class="me-section" >

    <div class="me-wrapper" >

        <div class="me-section-left-side">            
            <img class="picture-of-me"  src="../../../../assets/img/Me-hero-section-3.png" alt="">
        </div>       

        <div class="me-section-right-side ">
            
            <div class="me-section-title-center">
                <h3 class="custom-fade-left"        
                data-aos="fade-left"
                data-aos-delay="800"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out"
                >{{ "landingTitle.h3" | translate }}</h3>  
                <div class="me-section-title">
                    <h1 class="custom-fade-right"
                        data-aos="fade-left"
                        data-aos-delay="1300"
                        data-aos-duration="1300"                        
                        data-aos-easing="ease-in-out">
                        Erdal Tok
                    </h1>
                    <h2 class="animation-h2">{{ "landingTitle.h2" | translate }}</h2>                 
                </div>                        
            </div>  
    
            <a href="#contact">
                <button >{{ "landingTitle.btn" | translate }}</button>
            </a>
            
        </div>    
        
        <div class="shape-landing-page-section">
            <img  class="shape-desktop " src="../../../../assets/img/shape-desktop.png" >
            <img style="display: none;" class="shape-mobile " src="../../../../assets/img/shape-mobile1.png">             
        </div>        

    </div>

    <div class="flex" >
    
        <div class="line"></div>
    
        <div class="space-between">
    
            <div class="references-wrapper">
                <a href="https://github.com/erdaltok" target="_blank"><img
                        src="../../../../assets/img/icons/github-icon.png" alt=""></a>
                <a href="#contact"><img src="../../../../assets/img/icons/mail-icon.png" alt=""></a>
                <a href="https://www.linkedin.com/feed/" target="_blank"><img
                        src="../../../../assets/img/icons/linkedin.png" alt=""></a>
                <a class="references-mail-link" href="#contact">kontakt&#64;erdal.dev</a>
            </div>
    
            <div class="references-wrapper"></div>
    
            <img class="scroll-down-icon" src="../../../../assets/img/icons/Scroll-down.png" alt="">
    
        </div>
    
        <div class="empty-line"></div>
    </div>

</div>


       



