<div class="landing-page-center">

    <div class="me-section">

        <div class="me-section-left-side"
           
            >
            
            <img class="shadow-behind-me" src="../../../../assets/img/shadows/purple-green-shadow.png" alt="">
            <img class="picture-of-me"  src="../../../../assets/img/me.png" alt="">
        </div>
       

        <div class="me-section-right-side ">
            
            <div class="me-section-title-center">
                <h3         
                data-aos="fade-left"
                data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                >{{ "landingTitle.h3" | translate }}</h3>  
                <div class="me-section-title">
                    <h1 data-aos="fade-left"
                    data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
                    >Erdal Tok</h1>
                    <h2 class="animation-h2">{{ "landingTitle.h2" | translate }}</h2>                 
                </div>                        
            </div>  
    
            <a href="#contact">
                <button >{{ "landingTitle.btn" | translate }}</button>
            </a>
            
        </div>
       

    </div>

<div class="shape-landing-page-section">
    <img  class="shape-desktop" ngSrc="../../../../assets/img/Vector-desktop-tinypng.png" width="400" height="300" priority>
    <img loading="lazy" style="display: none;" class="shape-mobile" src="../../../../assets/img/shape-mobile.png">

    
</div>

       
</div>


