@import "./../../../../styles.scss";

.me-section {
  @include dFlex;
  max-width: 1920px;
  position: relative;
  min-height: 100vh;
  // margin: 122px 0px 40px 0px;
  padding-bottom: 61px;
  padding-top: 83px;

  &-left-side {
    @include dFlex;
    max-width: 40%;
    // margin-left: 80px;
    // margin: -100px 0 0 80px;

    // img {
    // max-width: 880px;
    // position: relative;
    // top: 81px;
    // }
  }

  &-right-side {
    @include dFlex;
    flex-direction: column;
    z-index: 5;
    margin-top: -320px;
    max-width: 50%;
  }

  .picture-of-me {
    position: absolute;
  }

  &-title-center {
    @include dFlex;
    width: 773px;
  }

  h3 {
    @include heading(400, 64px, 76.8px);
    rotate: -90deg;
    margin: 0;
    height: 63px;
  }

  h1 {
    @include heading(700, 90px);
    margin: 0;
    height: 108px;
  }

  h2 {
    @include heading(400, 55px, 69.6px, $primary-color);
    margin: 0;
    height: 70px;
  }

  .animation-h2 {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typing 2s steps(18),
      cursor 0.4s step-end infinite alternate;
  }

  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    margin-top: -23px;
  }

  button {
    @include button-style;
    margin-top: 25px;
  }
}

.shape-landing-page-section {
  position: absolute;
  top: 642px;
  max-width: 1920px;
  width: 100%;
  z-index: 1;
  overflow-y: hidden;

  img {
    width: 100%;
    height: 578px;
    max-width: 1920px;
  }
}

// RESPONSIVE

@media (max-width: 1453px) {
  .me-section {
    flex-direction: column;
    padding-top: 0;

    h3 {
      font-size: 43px;
      position: relative;
      top: -6px;
      right: -10px;
    }

    h1 {
      font-size: 75px;
      margin-bottom: -26px;
      position: relative;
      top: 6px;
    }

    h2 {
      font-size: 38px;
    }

    button {
      margin-top: 0;
    }
  }

  .shape-landing-page-section {
    top: 477px;

    img {
      height: 539px;
    }
  }

  .me-section-right-side {
    position: relative;
    top: 100px;  
  }

  .me-section-left-side {

  .picture-of-me {
    max-width: 500px;
    top: -75px;
  } 
}
}