@import "../../../../styles.scss";

.about-me-section {
  max-width: 1920px;
  @include dFlex(center, center);
  position: relative;
  overflow-x: clip;
  // height: 80vh;
  padding-top: 30px;
}

.shadow-about-me {
  position: absolute;
  right: -399px;
  margin-top: -120px;
  top: 12px;
  max-width: 100vw;
  z-index: -10;
}

.about-me-wrapper {
  @include dFlex(space-between, center);
  z-index: 15 !important;
  padding-top: 150px;
}

.about-me-left-side {
  // margin-right: 115px;
  margin-left: 80px;
  max-width: 40%;
  @include dFlex(flex-start, flex-start);
  flex-direction: column;

  h1 {
    @include heading(700, 90px, 108px);
    margin: 0;
    margin-bottom: 40px;
  }
}

.about-me-soft-skills {
  @include dFlex(center, center);
  margin-top: 40px;

  img {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    transition: transform 125ms ease-in-out;

    &:hover {
      transform: scale(1.4);
    }
  }
}

.about-me-right-side {
  @include dFlex(center, center);

  .circle {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    height: 500px;
    width: 500px;
    border: 2px solid $secondary-color;

    .circle-border {
      width: 674px;
      position: relative;
      left: -58px;
      top: -26px;
    }
  }

  .about-me-line-icon {
    height: 2px;
    width: 267px;
    margin: 0;
  }
}

// RESPONSIVE

@media (max-width: 1453px) {
  .about-me-line-icon {
    display: none;
  }

  .about-me-left-side {
    max-width: 50%;
  }

  .about-me-right-side {
    margin-right: 80px;
    .circle {
      width: 400px;
      height: 400px;
    }
  }
}

@media (max-width: 1147px) {
  .about-me-right-side {
    margin-right: 0;
    .circle {
      display: none;
    }
  }

  .about-me-left-side {
    max-width: 58%; //81%
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
  }

  .about-me-wrapper {
    justify-content: center;
  }
}

@media (max-width: 820px) {
  .about-me-left-side {
    max-width: 68%;
  }
}

@media (max-width: 757px) {
  .about-me-left-side {
    margin-left: 30px;
    margin-right: 30px;
    max-width: 81%;
    h1 {
      font-size: 70px;
    }
  }

  .about-me-right-side {
    margin-right: 30px;
  }

  .about-me-wrapper {
    margin-right: -30px;
    // margin-left: 30px;
  }
  .about-me-section {
    padding-top: 271px;
  }
}

// @media (max-width: 736px) {
//     .about-me-left-side {
//       margin-left: 30px;
//     }

// }

@media (max-width: 500px) {
  .about-me-soft-skills {
    img {
      width: 39px;
      height: 39px;
    }
  }
  .about-me-wrapper {
    margin-top: 0;
    padding-top: 86px;
  }

  .about-me-section {
    padding-top: 0;
  }

}

@media (max-width: 414px) {
  .about-me-left-side {
    h1 {
      font-size: 50px;
    }
  }

  .about-me-wrapper {
    margin-top: 10px;
  }
}

@media (max-width: 377px) {
  .about-me-soft-skills {
    p {
      font-size: 12px;
    }
  }

  .about-me-left-side {
    span {
      font-size: 14px;
    }
  }

   .about-me-wrapper {
    margin-top: -59px;
  }
}
