<div class="about-me-section">

    <img class="shadow-about-me" src="../../../../assets/img/shadows/Purple-shadow-about-me.png" alt="">

    <div class="empty-line"></div>

        <div class="flex">

            <div class="about-me-wrapper">

                <div class="about-me-left-side"
                     >

                    <h1
                    data-aos="fade-right"
                    data-aos-delay="300" data-aos-duration="1000"
                    >{{ "aboutMe.title" | translate }}</h1>

                    <span
                    data-aos="fade-right"
                    data-aos-delay="300" data-aos-duration="1000"
                    >{{ "aboutMe.intro" | translate }}</span>

                    <div class="about-me-soft-skills"
                    data-aos="fade-right"
                    data-aos-delay="400" data-aos-duration="1000"
                    >
                        <img src="../../../../assets/img/icons/bulb-desktop-icon.png" alt="">
                        <p>{{ "aboutMe.softSkill_1" | translate }}</p>
                    </div>

                    <div class="about-me-soft-skills"
                    data-aos="fade-right"
                    data-aos-delay="500" data-aos-duration="1000"
                    >
                        <img src="../../../../assets/img/icons/puzzle-desktop-icon.png" alt="">
                        <p>{{ "aboutMe.softSkill_2" | translate }}</p>
                    </div>

                    <span style="margin-top: 40px;"
                    data-aos="fade-right"
                    data-aos-delay="600" data-aos-duration="1000"
                    >{{ "aboutMe.ending" | translate }}</span>

                </div>

        <div class="about-me-right-side">      

            <div class="circle"
                data-aos="fade-down-left"
                data-aos-delay="300" data-aos-duration="1000" >
                <img class="circle-border" src="../../../../assets/img/me-photo-2.png" alt="">
            </div>            
               
        </div>

    </div>

    </div>
    <div class="line" data-aos="fade-down-left" data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"></div>
</div>
