<div class="about-me-section">


    <div class="about-me-wrapper">

        <div class="about-me-left-side"
        data-aos="fade-right"
                data-aos-delay="300" data-aos-duration="1000" >

            <h1>{{ "aboutMe.title" | translate }}</h1>

            <span>{{ "aboutMe.intro" | translate }}</span>

            <div class="about-me-soft-skills">
                <img src="../../../../assets/img/icons/bulb-desktop-icon.png" alt="">
                <p>{{ "aboutMe.softSkill_1" | translate }}</p>
            </div>

            <div class="about-me-soft-skills">
                <img src="../../../../assets/img/icons/puzzle-desktop-icon.png" alt="">
                <p>{{ "aboutMe.softSkill_2" | translate }}</p>
            </div>

            <span style="margin-top: 40px;">{{ "aboutMe.ending" | translate }}</span>


        </div>

        <div class="about-me-right-side">

                


            <div class="circle"
            data-aos="fade-down-left"
                data-aos-delay="300" data-aos-duration="1000" >
                <img class="circle-border" src="../../../../assets/img/me-photo-2.png" alt="">
            </div>
            
                <div class="shadow-line">
            <img class="shadow-about-me" src="../../../../assets/img/shadows/Purple-shadow-about-me.png" alt="">
            <img 
            data-aos="fade-down-left"
                data-aos-delay="300" data-aos-duration="1000" data-aos-easing="ease-in-out"
            class="about-me-line-icon" src="../../../../assets/img/dividing-lines/dividing-line-about-me.png" alt="">
            </div>
        </div>

        




    </div>









</div>
