<div class="about-me-section">

    <div class="about-me-wrapper">

        <div class="about-me-left-side">

            <h1>About me</h1>

            <span>
                Hallo und herzlich willkommen auf meiner Webseite! Ich bin eine Software-Entwicklerin aus Heilbronn, die es liebt,
                Probleme zu lösen und sich neuen Herausforderungen zu stellen. Ich freue mich sehr, dass Sie den Weg hierher gefunden
                haben. 
            </span>

            <div class="about-me-soft-skills">
                <img src="../../../../assets/img/icons/bulb-desktop-icon.png" alt="">
                <p>
                    Es macht mir großen Spaß, kreative und effektive Lösungen für die Gestaltung digitaler Erlebnisse zu finden. Die
                    Vielfalt und Dynamik der Programmierung inspiriert mich jeden Tag aufs Neue.
                </p>
            </div>

            <div class="about-me-soft-skills">
                <img src="../../../../assets/img/icons/puzzle-desktop-icon.png" alt="">
                <p>
                    Ich bin diszipliniert und verfüge über ein logisches Verständnis, das mir hilft, auch mit komplexeren Problemen
                    umzugehen. Sehen Sie sich gerne meine Projekte an, um einen Eindruck davon zu bekommen, woran ich gearbeitet habe.
                </p>
            </div>


        </div>

        <div class="about-me-right-side">

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti ab veniam ad maiores ipsum, dolorem perferendis cumque quam placeat nihil ea hic ex vitae dolor cum impedit nam mollitia ducimus.</p>
        </div>

        




    </div>









</div>
