@import "../../../../styles.scss";

.skills-section {
  margin-bottom: 100px;
  max-width: 1920px;
  width: 100vw;
  @include dFlex(space-between, center);
  position: relative;
  height: 80vh;
  overflow-x: clip;
}

.skills-wrapper {
  @include dFlex(space-evenly);
  max-width: 1920px;
  padding-top: 300px;
}

.skills-left-side {
  max-width: 40%;
  @include dFlex;
  flex-wrap: wrap;
  gap: 75px;
  height: 500px;
  position: relative;

  .skill-logos {
    @include dFlex(center, center);
    flex-direction: column;
    text-align: center;
    width: 70px;
    height: 70px;

    img {
      width: 65px;

      &:hover {
        animation: jump 1s ease infinite;
      }
    }

    p {
      margin: 0;
      margin-top: 16px;
    }
  }
}

@keyframes jump {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(-15px);
  }
}

.shadow-skills-section {
  position: absolute;
  left: -390px;
  z-index: -10;
  rotate: 45deg;
  width: 800px;
  height: 800px;
  top: 148px;
}

.skills-right-side {
  @include dFlex;
  flex-direction: column;
  text-align: center;
  height: 500px;
  margin-top: -100px;
  max-width: 40%;

  h2 {
    @include heading(700, 8rem, 108px);
    margin-top: 0;
    margin-bottom: 40px;
  }

  button {
    @include button-style;
    width: auto !important;
    height: 58px;
    margin-top: 25px;
  }
}

.widthBtnGerman {
  width: auto !important;
}

.skills-line {
  position: absolute;
  right: 0;
  margin-top: -159px;
  width: 7%;
  height: 4px;
  margin-left: 30px;
}

// RESPONSIVE

@media (max-width: 1453px) {
  .skills-line {
    display: none;
  }

  .skills-right-side {
    h2 {
      font-size: 104px;
    }
  }
}

@media (max-width: 1147px) {
  .skills-wrapper {
    flex-direction: column-reverse;
    padding-top: 0;
    margin-top: 366px;
  }

  .skills-right-side {
    max-width: 81%;
  }

  .skills-left-side {
    max-width: 81%;
    padding-bottom: 100px;
    height: 322px;
  }

  .skills-section {
    margin-bottom: 154px;
  }
}

@media (max-width: 802px) {
  .skills-right-side {
    h2 {
      font-size: 70px;
    }
  }

  .skills-left-side {
    max-width: 94%;
    margin-bottom: 100px;
  }
}

@media (max-width: 540px) {
  .skills-right-side {
    h2 {
      font-size: 70px;
    }
  }
}

@media (max-width: 500px) {
  .skills-right-side {
    max-width: 81%;
  }
  .skill-logos {
    img {
      width: 30px !important;
    }
  }

  // .skills-wrapper {
  //   margin-top: 71px;
  // }

  .skills-section {
   padding-bottom: 200px;
  }
}

@media (max-width: 414px) {
  .skills-right-side {
    h2 {
      font-size: 50px;
    }
  }

  .skills-section {
    margin-bottom: 154px;
    /* margin-top: 187px; */
    padding-top: 89px;
  }

  .skill-logos {
    p {
      font-size: 12px;
    }
  }

  .skills-left-side {
    max-width: 96%;
  }
}
