<div class="skills-section">

 <img class="shadow-skills-section" src="../../../../assets/img/shadows/green-shadow-skills.png" alt="">
   

    <div class="skills-wrapper">

        <div 
            class="skills-left-side"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">

            <div *ngFor="let logo of logos" class="skill-logos">
                <img [src]="logo.path" alt="skill-logos">
                <p>{{ logo.name }}</p>
            </div>             
           
        </div>

        <div
            class="skills-right-side"
            data-aos="fade-left"
            data-aos-easing="linear"
            data-aos-duration="1500"
            data-aos-delay="300">

        <div class="skills-right-side-content">

            <div class="headline">
                <div class="empty-box">
                    <div class="empty-line"></div>
                </div>
                <div>
                    <h2>{{ "mySkills.title" | translate }}</h2>
                </div>
            
                <div class="right-line">
                    <div class="line"></div>
                </div>
            </div>

            
      

            </div>
      <span>{{ "mySkills.intro" | translate }}</span>

            <a href="#contact"><button >{{ "mySkills.btn" | translate }}</button></a>
            
        </div>      
    </div>

    

</div>

