@import 'ngx-toastr/toastr';

// Farben
$primary-color: #4b47ff;
$secondary-color: #00bee8;
$background-color: #141D2F;
$font-color: whitesmoke;

// Schriftarten
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
}

// Mixins
@mixin dFlex($jc: center, $ai: center, $g: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin heading($weight, $size, $lineHeight: normal, $color: $font-color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
}

@mixin button-style($bg-color: $secondary-color, $hover-color: $primary-color, $color: $font-color) {
  width: 165px;
  height: 58px;
  border-radius: 10px;
  padding: 15px 30px;
  border: none;
  color: $color;
  background-color: $bg-color;
  font-size: 23px;
  transition: all 125ms ease-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 125ms ease-in;
    background-color: $hover-color;
  }
}

// Globale Stile
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: $background-color;
  color: $font-color;
  overflow-x: hidden;
  display: flex;
  justify-content: center;    
}

app-root {
  width: 100%;
  max-width: 1920px;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

