@import "../../../../styles.scss";

.contact-section-position {
  position: relative;
  top: -450px;
  padding-top: 50px;
  height: 63vh;
}

.flex {
  display: flex;
  justify-content: center;
}

.contact-section {
  max-width: 1920px;
  width: 100%;
  position: relative;
}

.contacts-wrapper {
  @include dFlex(space-between, $ai: null);
  margin-left: 80px;
}

.line-box {
  display: flex;
  width: 39px;
  flex: 0.1;
}

.contacts-headline {
  @include dFlex($jc: null, $ai: center, $g: 40px);

  .small-line-contact {
    width: 100%;
    min-width: 40px;
    height: 3px;
    background-color: $primary-color;
  }

  h2 {
    @include heading(700, 90px, 108px);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;

  ::placeholder {
    color: $font-color;
    opacity: 1;
  }

  span {
    margin-top: 8px;
    margin-left: 8px;
    color: red;
    font-size: 16px;
    font-weight: 400;
  }
}

.form-control {
  gap: 20px;
  padding: 15px 25px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  background-color: transparent;
}

input[type="text"],
input[type="email"],
textarea {
  color: $font-color;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:not(:placeholder-shown) {
  border-color: hsl(0, 76%, 50%);
}

input:valid:not(.checkbox),
textarea:valid {
  border-color: hsl(120, 76%, 50%);
  background-image: url("../../../../assets/img/icons/valid-img.png");
  background-repeat: no-repeat;
  background-position: center right 10px;
}

input:valid:not(.checkbox) {
  background-position: center right 10px;
}

textarea:valid {
  background-position: top 10px right 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

textarea:focus,
input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

.negative {
  border-color: red;
}

.checkbox {
  width: 16px;
  height: 16px;

  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $secondary-color;
  min-width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border-color: #70e61c;
  background-image: "";
}

input[type="checkbox"]:checked::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  border: solid #70e61c;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: relative;
  top: -1px;
  left: 5px;
}

.not-valid-img {
  width: 25px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.privacy-check-info {
  @include dFlex($jc: null, $ai: center, $g: 8px);

  a {
    text-decoration: none;
    color: $secondary-color;
    scroll-behavior: smooth;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  label {
    font-size: 14px;
    line-height: 16.8px;
  }
}

.contacts-left-side {
  width: 40%;

  h3 {
    @include heading(700, 32px, 38.4px);
    margin: 0;
  }

  span {
    @include heading(400, 16px, 19.2px);
    margin-bottom: 40px;
  }
}

.contacts-right-side {
  width: 40%;
  margin-right: 80px;
}

.inactive-button,
.active-button {
  @include dFlex(center, center);
  padding: 15px 30px;
  border-radius: 10px;
  border: 0;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 25px;
  transition: all 125ms ease-out;
}

.inactive-button {
  background-color: #cccccc;
  color: #666666;

  &:hover {
    transform: scale(1);
    cursor: not-allowed;
  }
}

.active-button {
  background-color: $secondary-color;
  color: #f5f5f5;

  &:hover {
    transform: scale(1.2);
    transition: all 125ms ease-in;
  }
}

.privacy-request {
  margin-top: 8px;
  margin-left: 8px;
  color: red;
  font-size: 16px;
  font-weight: 400;
}

.go-up-btn {
  position: absolute;
  bottom: -37px;
  right: 19px;
  z-index: 16;
  cursor: pointer;
}

// RESPONSIVE

@media (min-width: 1921px) {
  .line-box {
    flex: 0.2;
  }
}

@media (max-width: 1353px) {
  .contacts-headline {
    margin-bottom: -28px;
    margin-top: 40px;
    padding-top: 0;
  }

  .contacts-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-left: 0;
  }

  .contacts-left-side {
    width: 60%;
    margin-left: 0;
  }

  .contacts-right-side {
    width: 60%;
    margin-right: 0;
  }

  .contact-section-position {
    height: 80vh;
  }
}

@media (max-width: 1024px) {
  .contacts-headline {
    padding-top: 60px;
  }
}

@media only screen and (min-device-height: 631px) and (max-device-width: 1150px) and (orientation: landscape) {
  .contacts-headline {
    h2 {
      font-size: 70px;
    }
  }
}

@media (max-width: 736px) {
  .contact-section {
    margin-bottom: 200px;
  }
  .contacts-headline {
    h2 {
      font-size: 70px;
    }
  }
  .contacts-left-side {
    width: 87%;
    margin-left: 0;
  }

  .contacts-right-side {
    width: 87%;
    margin-right: 0;
  }
  .go-up-btn {
    right: -5px;
    bottom: -80px;
  }
}

@media (max-width: 430px) {
  .contacts-headline {
    margin-top: 0px;
    padding-top: 0px;
  }
}

@media (max-width: 412px) {
  .contacts-headline {
    h2 {
      font-size: 50px;
    }
    .go-up-btn {
      right: -7px;
      bottom: -10px;
    }
  }

  .contact-section {
    margin-bottom: 40px;
  }

  .go-up-btn {
    right: -7px;
    bottom: -10px;
  }

  .contact-section-position {
    height: 90vh;
  }

  .inactive-button,
  .active-button {
    font-size: 22px;
  }
}
