
<div class="contact-section-position">

<div class="contacts-headline"
     data-aos="fade-right"
     data-aos-delay="300"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"
>
    <div class="line-box">
        <div class="small-line-contact"></div>
    </div>
    <div class="hedline-box">
        <h2>{{ "contact.title" | translate }}</h2>
    </div>
</div>


<div class="flex">

<div class="contact-section" id="contact">

<div class="contacts-wrapper" >

    <div class="contacts-left-side"
    data-aos="fade-right"
    data-aos-delay="400"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"
        >
            <h3>{{ "contact.subTitle" | translate }}</h3>
            <br>
            <span>{{ "contact.content" | translate }}</span><br>
            <br>
            <span>{{ "contact.ending" | translate }}</span>
    </div>

    <div class="contacts-right-side"
     data-aos="fade-left"
     data-aos-delay="400"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine" >

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" autocomplete="off"
       >
            <div class="form-group">               
                <input
                 #name="ngModel" 
                [(ngModel)]="contactData.name"
                type="text" class="form-control" id="name" name="name-contact"
                autocomplete="off"
                placeholder="{{ 'contact.placeholder_name' | translate }}"
                minlength="2" required 
                [ngClass]="{'negative' : !name.valid && name.touched}">
                @if (!name.valid && name.touched && !name.disabled) {
                    <img class="not-valid-img" src="../../../../assets/img/icons/not-valid-img.png" alt="">
                    <span>{{ 'contact.placeholder_name_required' | translate }}</span>
                }
            </div>
        
            <div class="form-group">
                <input 
                #email="ngModel"
                [(ngModel)]="contactData.email"
                type="email" class="form-control" id="email" name="email_contact"
                placeholder="{{ 'contact.placeholder_mail' | translate }}" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                [ngClass]="{'negative' : !email.valid && email.touched}"
                >
                @if (!email.valid && email.touched && !email.disabled) {
                <span>{{ 'contact.placeholder_mail_required' | translate }}</span>
                <img class="not-valid-img" src="../../../../assets/img/icons/not-valid-img.png" alt="">
                }
            </div>
        
            <div class="form-group">                
                <textarea               
                #message="ngModel"
                    [(ngModel)]="contactData.message" 
                    class="form-control" name="message-contact" 
                    placeholder="{{ 'contact.placeholder_message' | translate }}" 
                    minlength="2" rows="10" required
                    [ngClass]="{'negative': !message.valid && message.touched}">                    
                </textarea>
                @if (!message.valid && message.touched && !message.disabled) {                    
                    <span>{{ 'contact.placeholder_message_required' | translate }}</span>
                    <img class="not-valid-img" src="../../../../assets/img/icons/not-valid-img.png" alt="">                    
                }
            </div>
           
            <div class="privacy-check-info">
                <input (change)="checkCheckBoxValue($event)" #myCheckbox class="checkbox" type="checkbox" name="my-checkbox"
                    id="checkboxId" ngModel required />
                <label for="checkboxId">{{ "contact.policyFirst" | translate }} <a (click)="scrollToTopPrivacy()" >{{ "contact.policyLink" | translate }}</a> {{ "contact.policySecond" | translate }}</label>
            </div>

            <span *ngIf="showPrivacyWarning" id="privacyRequest" class="privacy-request">{{ "contact.policy_required" | translate }}</span>

            <button type="submit" [ngClass]="{
                    'inactive-button': !contactForm.valid || !isChecked,
                    'active-button': contactForm.valid && isChecked
                    }" (click)="onSubmit(contactForm)">
                    {{ "contact.btn" | translate }}
            </button>

        </form>

            <div class="go-up-btn" id="goUpBtn" (click)="scrollUpPage()"
                (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <img [src]="currentImgSrc" alt="">
            </div>
    </div>

</div>

</div>

</div>

</div>
