<div class="contact-section" id="contact">

<div class="contacts-headline" >
    <div class="small-line-contact"></div>
    <h2>Contact</h2>
</div>

<div class="contacts-wrapper" >

    <div class="contacts-left-side">
            <h3>Got a problem to solve?</h3>
            <br>
            <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects
            with my work.</span><br>
            <br>
            <span>Need a Frontend developer? Contact me!</span>
    </div>

    <div class="contacts-right-side" >

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" autocomplete="off">
            <div class="form-group">               
                <input
                 #name="ngModel" 
                [(ngModel)]="contactData.name"
                type="text" class="form-control" id="name" name="name-contact"
                autocomplete="off"
                placeholder="Your name"
                minlength="3" required 
                [ngClass]="{'negative' : !name.valid && name.touched}">
                @if (!name.valid && name.touched && !name.disabled) {
                    <img class="not-valid-img" src="../../../../assets/img/icons/not-valid-img.png" alt="">
                    <span>Your name is required</span>
                }
            </div>
        
            <div class="form-group">
                <input 
                #email="ngModel"
                [(ngModel)]="contactData.email"
                type="email" class="form-control" id="email" name="email_contact"
                placeholder="Your email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                [ngClass]="{'negative' : !email.valid && email.touched}"
                >
                @if (!email.valid && email.touched && !email.disabled) {
                <span>Your email is required</span>
                <img class="not-valid-img" src="../../../../assets/img/icons/not-valid-img.png" alt="">
                }
            </div>
        
            <div class="form-group">                
                <textarea               
                #message="ngModel"
                    [(ngModel)]="contactData.message" 
                    class="form-control" name="message-contact" 
                    placeholder="Your message" 
                    minlength="3" rows="10" required
                    [ngClass]="{'negative': !message.valid && message.touched}">                    
                </textarea>
                @if (!message.valid && message.touched && !message.disabled) {                    
                    <span>Your message is empty</span>
                    <img class="not-valid-img" src="../../../../assets/img/icons/not-valid-img.png" alt="">                    
                }
            </div>
           
            <div class="privacy-check-info">
                <input (change)="checkCheckBoxvalue($event)" #myCheckbox class="checkbox" type="checkbox" name="my-checkbox"
                    id="checkboxId" ngModel required />
                <label for="checkboxId">I've read the <a (click)="scrollToTopPrivacy()" href="privacy">privacy policy</a> and agree to
                    the processing of my data as outlined.</label>
            </div>

            <span *ngIf="showPrivacyWarning" id="privacyRequest" class="privacy-request">Please accept the privacy policy</span>

            <button type="submit" [ngClass]="{
                    'inactive-button': !contactForm.valid || !isChecked,
                    'active-button': contactForm.valid && isChecked
                    }" (click)="onSubmit(contactForm)">
                    Send message
            </button>

                  <!-- <div *ngIf="showSuccessMailMessage" class="show-success-mail-message">
                    Thank you for your message!! 
                  </div>   -->
        </form>

            <div class="go-up-btn" id="goUpBtn" (click)="scrollUpPage()"
                (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <img [src]="currentImgSrc" alt="">
            </div>
    </div>

</div>

</div>
